.u-section-1 .u-sheet-1 {
  min-height: 382px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-1 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 0 auto 20px;
  padding: 16px 64px;
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-text-1 {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  margin: 25px 0 0;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto auto auto;
  width: 1140px;
  margin: 22px auto 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px);
  min-height: 3108px;
  grid-gap: 20px 20px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  height: 308px;
  margin-top: 0;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-2 .u-text-2 {
  font-family: "Palanquin Dark";
  margin: 22px 0 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  height: 308px;
  margin-top: 0;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-2 .u-text-3 {
  font-family: "Palanquin Dark";
  font-weight: 400;
  text-transform: none;
  margin: 22px 0 0;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-image-3 {
  height: 308px;
  margin-top: 0;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-2 .u-text-4 {
  font-family: "Palanquin Dark";
  font-weight: 400;
  text-transform: none;
  margin: 22px 0 0;
}

.u-section-2 .u-list-item-4 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-image-4 {
  height: 308px;
  margin-top: 0;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-2 .u-text-5 {
  font-family: "Palanquin Dark";
  font-weight: 400;
  text-transform: none;
  margin: 22px 0 0;
}

.u-section-2 .u-list-item-5 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-image-5 {
  height: 308px;
  margin-top: 0;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-2 .u-text-6 {
  font-family: "Palanquin Dark";
  font-weight: 400;
  text-transform: none;
  margin: 22px 0 0;
}

.u-section-2 .u-list-item-6 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px;
}

.u-section-2 .u-image-6 {
  height: 308px;
  margin-top: 0;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-2 .u-text-7 {
  font-family: "Palanquin Dark";
  font-weight: 400;
  text-transform: none;
  margin: 22px 0 0;
}

.u-section-2 .u-list-item-7 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px;
}

.u-section-2 .u-image-7 {
  height: 308px;
  margin-top: 0;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  object-position: 47.16% 50%;
}

.u-section-2 .u-text-8 {
  font-family: "Palanquin Dark";
  font-weight: 400;
  text-transform: none;
  margin: 22px 0 0;
}

.u-section-2 .u-list-item-8 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-8 {
  padding: 30px;
}

.u-section-2 .u-image-8 {
  height: 308px;
  margin-top: 0;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-2 .u-text-9 {
  font-family: "Palanquin Dark";
  font-weight: 400;
  text-transform: none;
  margin: 22px 0 0;
}

.u-section-2 .u-list-item-9 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-9 {
  padding: 30px;
}

.u-section-2 .u-image-9 {
  height: 308px;
  margin-top: 0;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-2 .u-text-10 {
  font-family: "Palanquin Dark";
  font-weight: 400;
  text-transform: none;
  margin: 22px 0 0;
}

.u-section-2 .u-list-item-10 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-10 {
  padding: 30px;
}

.u-section-2 .u-image-10 {
  height: 308px;
  margin-top: 0;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-2 .u-text-11 {
  font-family: "Palanquin Dark";
  font-weight: 400;
  text-transform: none;
  margin: 22px 0 0;
}

.u-section-2 .u-list-item-11 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-11 {
  padding: 30px;
}

.u-section-2 .u-image-11 {
  height: 308px;
  margin-top: 0;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-2 .u-text-12 {
  font-family: "Palanquin Dark";
  font-weight: 400;
  text-transform: none;
  margin: 22px 0 0;
}

.u-section-2 .u-list-item-12 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-12 {
  padding: 30px;
}

.u-section-2 .u-image-12 {
  height: 308px;
  margin-top: 0;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-2 .u-text-13 {
  font-family: "Palanquin Dark";
  font-weight: 400;
  text-transform: none;
  margin: 22px 0 0;
}

.u-section-2 .u-list-item-13 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-13 {
  padding: 30px;
}

.u-section-2 .u-image-13 {
  height: 308px;
  margin-top: 0;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-2 .u-text-14 {
  font-family: "Palanquin Dark";
  font-weight: 400;
  text-transform: none;
  margin: 22px 0 0;
}

.u-section-2 .u-list-item-14 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-14 {
  padding: 30px;
}

.u-section-2 .u-image-14 {
  height: 308px;
  margin-top: 0;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-2 .u-text-15 {
  font-family: "Palanquin Dark";
  font-weight: 400;
  text-transform: none;
  margin: 22px 0 0;
}

.u-section-2 .u-list-item-15 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-15 {
  padding: 30px;
}

.u-section-2 .u-image-15 {
  height: 308px;
  margin-top: 0;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-2 .u-text-16 {
  font-family: "Palanquin Dark";
  font-weight: 400;
  text-transform: none;
  margin: 22px 0 0;
}

.u-section-2 .u-list-item-16 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-16 {
  padding: 30px;
}

.u-section-2 .u-image-16 {
  height: 308px;
  margin-top: 0;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-2 .u-text-17 {
  font-family: "Palanquin Dark";
  font-weight: 400;
  text-transform: none;
  margin: 22px 0 0;
}

.u-section-2 .u-list-item-17 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-17 {
  padding: 30px;
}

.u-section-2 .u-image-17 {
  height: 308px;
  margin-top: 0;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-2 .u-text-18 {
  font-family: "Palanquin Dark";
  font-weight: 400;
  text-transform: none;
  margin: 22px 0 0;
}

.u-section-2 .u-list-item-18 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-18 {
  padding: 30px;
}

.u-section-2 .u-image-18 {
  height: 308px;
  margin-top: 0;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-2 .u-text-19 {
  font-family: "Palanquin Dark";
  font-weight: 400;
  text-transform: none;
  margin: 22px 0 0;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 2645px;
  }

  .u-section-2 .u-text-1 {
    font-family: "Palanquin Dark";
  }

  .u-section-2 .u-list-1 {
    width: 940px;
    margin-top: 25px;
    margin-bottom: 47px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 2483px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-image-1 {
    height: 244px;
    margin-top: 8px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 17px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-image-2 {
    height: 244px;
    margin-top: 8px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 17px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-image-3 {
    height: 244px;
    margin-top: 8px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 17px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-image-4 {
    height: 244px;
    margin-top: 8px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: 17px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-image-5 {
    height: 244px;
    margin-top: 8px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: 17px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-image-6 {
    height: 244px;
    margin-top: 8px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-top: 17px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-image-7 {
    height: 244px;
    margin-top: 8px;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-top: 17px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-image-8 {
    height: 244px;
    margin-top: 8px;
  }

  .u-section-2 .u-text-9 {
    width: auto;
    margin-top: 17px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-image-9 {
    height: 244px;
    margin-top: 8px;
  }

  .u-section-2 .u-text-10 {
    width: auto;
    margin-top: 17px;
  }

  .u-section-2 .u-container-layout-10 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-image-10 {
    height: 244px;
    margin-top: 8px;
  }

  .u-section-2 .u-text-11 {
    width: auto;
    margin-top: 17px;
  }

  .u-section-2 .u-container-layout-11 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-image-11 {
    height: 244px;
    margin-top: 8px;
  }

  .u-section-2 .u-text-12 {
    width: auto;
    margin-top: 17px;
  }

  .u-section-2 .u-container-layout-12 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-image-12 {
    height: 244px;
    margin-top: 8px;
  }

  .u-section-2 .u-text-13 {
    width: auto;
    margin-top: 17px;
  }

  .u-section-2 .u-container-layout-13 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-image-13 {
    height: 244px;
    margin-top: 8px;
  }

  .u-section-2 .u-text-14 {
    width: auto;
    margin-top: 17px;
  }

  .u-section-2 .u-container-layout-14 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-image-14 {
    height: 244px;
    margin-top: 8px;
  }

  .u-section-2 .u-text-15 {
    width: auto;
    margin-top: 17px;
  }

  .u-section-2 .u-container-layout-15 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-image-15 {
    height: 244px;
    margin-top: 8px;
  }

  .u-section-2 .u-text-16 {
    width: auto;
    margin-top: 17px;
  }

  .u-section-2 .u-container-layout-16 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-image-16 {
    height: 244px;
    margin-top: 8px;
  }

  .u-section-2 .u-text-17 {
    width: auto;
    margin-top: 17px;
  }

  .u-section-2 .u-container-layout-17 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-image-17 {
    height: 244px;
    margin-top: 8px;
  }

  .u-section-2 .u-text-18 {
    width: auto;
    margin-top: 17px;
  }

  .u-section-2 .u-container-layout-18 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-image-18 {
    height: 244px;
    margin-top: 8px;
  }

  .u-section-2 .u-text-19 {
    width: auto;
    margin-top: 17px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 9.999975px));
    min-height: 4330px;
  }

  .u-section-2 .u-image-1 {
    height: 289px;
  }

  .u-section-2 .u-image-2 {
    height: 289px;
  }

  .u-section-2 .u-image-3 {
    height: 289px;
  }

  .u-section-2 .u-image-4 {
    height: 289px;
  }

  .u-section-2 .u-image-5 {
    height: 289px;
  }

  .u-section-2 .u-image-6 {
    height: 289px;
  }

  .u-section-2 .u-image-7 {
    height: 289px;
  }

  .u-section-2 .u-image-8 {
    height: 289px;
  }

  .u-section-2 .u-image-9 {
    height: 289px;
  }

  .u-section-2 .u-image-10 {
    height: 289px;
  }

  .u-section-2 .u-image-11 {
    height: 289px;
  }

  .u-section-2 .u-image-12 {
    height: 289px;
  }

  .u-section-2 .u-image-13 {
    height: 289px;
  }

  .u-section-2 .u-image-14 {
    height: 289px;
  }

  .u-section-2 .u-image-15 {
    height: 289px;
  }

  .u-section-2 .u-image-16 {
    height: 289px;
  }

  .u-section-2 .u-image-17 {
    height: 289px;
  }

  .u-section-2 .u-image-18 {
    height: 289px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-image-1 {
    height: 501px;
  }

  .u-section-2 .u-image-2 {
    height: 501px;
  }

  .u-section-2 .u-image-3 {
    height: 501px;
  }

  .u-section-2 .u-image-4 {
    height: 501px;
  }

  .u-section-2 .u-image-5 {
    height: 501px;
  }

  .u-section-2 .u-image-6 {
    height: 501px;
  }

  .u-section-2 .u-image-7 {
    height: 501px;
  }

  .u-section-2 .u-image-8 {
    height: 501px;
  }

  .u-section-2 .u-image-9 {
    height: 501px;
  }

  .u-section-2 .u-image-10 {
    height: 501px;
  }

  .u-section-2 .u-image-11 {
    height: 501px;
  }

  .u-section-2 .u-image-12 {
    height: 501px;
  }

  .u-section-2 .u-image-13 {
    height: 501px;
  }

  .u-section-2 .u-image-14 {
    height: 501px;
  }

  .u-section-2 .u-image-15 {
    height: 501px;
  }

  .u-section-2 .u-image-16 {
    height: 501px;
  }

  .u-section-2 .u-image-17 {
    height: 501px;
  }

  .u-section-2 .u-image-18 {
    height: 501px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-list-1 {
    width: 340px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-1 {
    height: 279px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-2 {
    height: 279px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-3 {
    height: 279px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-4 {
    height: 279px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-5 {
    height: 279px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-6 {
    height: 279px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-7 {
    height: 279px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-8 {
    height: 279px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-9 {
    height: 279px;
  }

  .u-section-2 .u-container-layout-10 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-10 {
    height: 279px;
  }

  .u-section-2 .u-container-layout-11 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-11 {
    height: 279px;
  }

  .u-section-2 .u-container-layout-12 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-12 {
    height: 279px;
  }

  .u-section-2 .u-container-layout-13 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-13 {
    height: 279px;
  }

  .u-section-2 .u-container-layout-14 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-14 {
    height: 279px;
  }

  .u-section-2 .u-container-layout-15 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-15 {
    height: 279px;
  }

  .u-section-2 .u-container-layout-16 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-16 {
    height: 279px;
  }

  .u-section-2 .u-container-layout-17 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-17 {
    height: 279px;
  }

  .u-section-2 .u-container-layout-18 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-18 {
    height: 279px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 400px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 251px;
  }
}