.u-section-1 .u-sheet-1 {
  min-height: 444px;
}

.u-section-1 .u-btn-1 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 3.75rem;
  letter-spacing: 1px;
  margin: 29px auto 0;
  padding: 16px 112px 17px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 0 auto 60px;
}

@media (max-width: 767px) {
  .u-section-1 .u-btn-1 {
    margin-top: 41px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
    margin-top: 8px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-btn-1 {
    margin-top: 40px;
    margin-right: -35px;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: 9px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 400px;
}