.u-section-1 .u-sheet-1 {
  min-height: 331px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 11px auto 0;
}

.u-section-1 .u-btn-1 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 24px auto 46px;
  padding: 10px 59px 10px 58px;
}.u-section-2 .u-sheet-1 {
  min-height: 304px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  width: 536px;
  margin: 14px auto 0;
}

.u-section-2 .u-text-2 {
  line-height: 1.8;
  margin: 14px 436px 0 24px;
}

.u-section-2 .u-image-1 {
  width: 349px;
  height: 197px;
  margin: -192px 42px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 503px;
  }

  .u-section-2 .u-text-2 {
    width: 680px;
    margin-top: 6px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-image-1 {
    margin-top: 14px;
    margin-right: 278px;
    margin-bottom: 14px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-image-1 {
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 498px;
  }

  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 192px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 196px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 11px 0 0;
}

.u-section-3 .u-text-2 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 30px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 1693px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 14px auto 0;
}

.u-section-4 .u-list-1 {
  width: 1115px;
  margin: 14px auto 0;
}

.u-section-4 .u-repeater-1 {
  min-height: 249px;
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  grid-gap: 0px 0px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 0 10px;
}

.u-section-4 .u-image-1 {
  width: 360px;
  height: 187px;
  margin: 0 0 0 auto;
}

.u-section-4 .u-text-2 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 1px auto 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 0 0 10px;
}

.u-section-4 .u-image-2 {
  width: 360px;
  height: 187px;
  margin: 0 0 0 auto;
}

.u-section-4 .u-text-3 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 1px auto 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 0 0 10px;
}

.u-section-4 .u-image-3 {
  width: 360px;
  height: 187px;
  margin: 0 0 0 auto;
}

.u-section-4 .u-text-4 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 1px auto 0;
}

.u-section-4 .u-list-2 {
  width: 1115px;
  margin: 0 auto 0 13px;
}

.u-section-4 .u-repeater-2 {
  min-height: 249px;
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  grid-gap: 0px 0px;
}

.u-section-4 .u-container-layout-4 {
  padding: 0 0 10px;
}

.u-section-4 .u-image-4 {
  width: 360px;
  height: 187px;
  margin: 0 0 0 auto;
}

.u-section-4 .u-text-5 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 12px auto 0;
}

.u-section-4 .u-container-layout-5 {
  padding: 0 0 10px;
}

.u-section-4 .u-image-5 {
  width: 360px;
  height: 187px;
  margin: 0 0 0 auto;
}

.u-section-4 .u-text-6 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 12px auto 0;
}

.u-section-4 .u-container-layout-6 {
  padding: 0 0 10px;
}

.u-section-4 .u-image-6 {
  width: 360px;
  height: 187px;
  margin: 0 0 0 auto;
}

.u-section-4 .u-text-7 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 12px auto 0;
}

.u-section-4 .u-list-3 {
  width: 1115px;
  margin: 0 auto;
}

.u-section-4 .u-repeater-3 {
  min-height: 249px;
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  grid-gap: 0px 0px;
}

.u-section-4 .u-container-layout-7 {
  padding: 0 0 10px;
}

.u-section-4 .u-image-7 {
  width: 360px;
  height: 187px;
  margin: 0 0 0 auto;
}

.u-section-4 .u-text-8 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 2px auto 0;
}

.u-section-4 .u-container-layout-8 {
  padding: 0 0 10px;
}

.u-section-4 .u-image-8 {
  width: 360px;
  height: 187px;
  margin: 0 0 0 auto;
}

.u-section-4 .u-text-9 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 2px auto 0;
}

.u-section-4 .u-container-layout-9 {
  padding: 0 0 10px;
}

.u-section-4 .u-image-9 {
  width: 360px;
  height: 187px;
  margin: 0 0 0 auto;
}

.u-section-4 .u-text-10 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 2px auto 0;
}

.u-section-4 .u-list-4 {
  width: 1115px;
  margin: 1px auto 0;
}

.u-section-4 .u-repeater-4 {
  min-height: 249px;
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  grid-gap: 0px 0px;
}

.u-section-4 .u-container-layout-10 {
  padding: 0 0 10px;
}

.u-section-4 .u-image-10 {
  width: 360px;
  height: 187px;
  margin: 0 0 0 auto;
}

.u-section-4 .u-text-11 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 2px auto 0;
}

.u-section-4 .u-container-layout-11 {
  padding: 0 0 10px;
}

.u-section-4 .u-image-11 {
  width: 360px;
  height: 187px;
  margin: 0 0 0 auto;
}

.u-section-4 .u-text-12 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 2px auto 0;
}

.u-section-4 .u-container-layout-12 {
  padding: 0 0 10px;
}

.u-section-4 .u-image-12 {
  width: 360px;
  height: 187px;
  margin: 0 0 0 auto;
}

.u-section-4 .u-text-13 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 2px auto 0;
}

.u-section-4 .u-list-5 {
  width: 1115px;
  margin: 0 auto 60px;
}

.u-section-4 .u-repeater-5 {
  min-height: 249px;
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  grid-gap: 0px 0px;
}

.u-section-4 .u-container-layout-13 {
  padding: 0 0 10px;
}

.u-section-4 .u-image-13 {
  width: 360px;
  height: 187px;
  margin: 0 0 0 auto;
}

.u-section-4 .u-text-14 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 12px auto 0;
}

.u-section-4 .u-container-layout-14 {
  padding: 0 0 10px;
}

.u-section-4 .u-image-14 {
  width: 360px;
  height: 187px;
  margin: 0 0 0 auto;
}

.u-section-4 .u-text-15 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 12px auto 0;
}

.u-section-4 .u-container-layout-15 {
  padding: 0 0 10px;
}

.u-section-4 .u-image-15 {
  width: 360px;
  height: 187px;
  margin: 0 0 0 auto;
}

.u-section-4 .u-text-16 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 12px auto 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1414px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 12px;
  }

  .u-section-4 .u-list-1 {
    width: 887px;
    margin-top: 16px;
    margin-right: 14px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 248px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-4 .u-image-1 {
    width: 350px;
    height: 159px;
    margin-top: 4px;
    margin-right: -15px;
    margin-left: -40px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 9px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-4 .u-image-2 {
    width: 350px;
    height: 159px;
    margin-top: 4px;
    margin-right: -15px;
    margin-left: -40px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 9px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-4 .u-image-3 {
    width: 350px;
    height: 159px;
    margin-top: 4px;
    margin-right: -15px;
    margin-left: -40px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 9px;
  }

  .u-section-4 .u-list-2 {
    width: 926px;
    margin-top: 28px;
    margin-left: 0;
  }

  .u-section-4 .u-repeater-2 {
    min-height: 246px;
  }

  .u-section-4 .u-image-4 {
    width: 320px;
    height: 162px;
    margin-right: -11px;
    margin-left: 0;
  }

  .u-section-4 .u-image-5 {
    width: 320px;
    height: 162px;
    margin-right: -11px;
    margin-left: 0;
  }

  .u-section-4 .u-image-6 {
    width: 320px;
    height: 162px;
    margin-right: -11px;
    margin-left: 0;
  }

  .u-section-4 .u-list-3 {
    width: 940px;
    margin-top: -2px;
  }

  .u-section-4 .u-repeater-3 {
    min-height: 210px;
  }

  .u-section-4 .u-image-7 {
    height: 177px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-image-8 {
    height: 177px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-image-9 {
    height: 177px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-list-4 {
    width: 940px;
  }

  .u-section-4 .u-repeater-4 {
    min-height: 210px;
  }

  .u-section-4 .u-image-10 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-image-11 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-image-12 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-list-5 {
    width: 940px;
  }

  .u-section-4 .u-repeater-5 {
    min-height: 210px;
  }

  .u-section-4 .u-image-13 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-image-14 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-image-15 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2909px;
  }

  .u-section-4 .u-list-1 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 605px;
    grid-template-columns: 50% 50%;
  }

  .u-section-4 .u-image-1 {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 13px;
    margin-left: 29px;
    margin-right: 29px;
  }

  .u-section-4 .u-image-2 {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 13px;
    margin-left: 29px;
    margin-right: 29px;
  }

  .u-section-4 .u-image-3 {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-top: 13px;
    margin-left: 29px;
    margin-right: 29px;
  }

  .u-section-4 .u-list-2 {
    width: 720px;
  }

  .u-section-4 .u-repeater-2 {
    min-height: 573px;
    grid-template-columns: 50% 50%;
  }

  .u-section-4 .u-list-3 {
    margin-top: -1px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-repeater-3 {
    min-height: 508px;
    grid-template-columns: 50% 50%;
  }

  .u-section-4 .u-image-7 {
    height: 204px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-8 {
    height: 204px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-9 {
    height: 204px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-list-4 {
    width: 720px;
    margin-top: 0;
  }

  .u-section-4 .u-repeater-4 {
    min-height: 483px;
    grid-template-columns: 50% 50%;
  }

  .u-section-4 .u-image-10 {
    height: 215px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-11 {
    height: 215px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-12 {
    height: 215px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-list-5 {
    width: 720px;
  }

  .u-section-4 .u-repeater-5 {
    min-height: 483px;
    grid-template-columns: 50% 50%;
  }

  .u-section-4 .u-image-13 {
    height: 215px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-14 {
    height: 215px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-15 {
    height: 215px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-list-1 {
    width: 540px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-text-2 {
    margin-top: 0;
  }

  .u-section-4 .u-text-3 {
    margin-top: 0;
  }

  .u-section-4 .u-text-4 {
    margin-top: 0;
  }

  .u-section-4 .u-list-2 {
    width: 540px;
  }

  .u-section-4 .u-repeater-2 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-repeater-3 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-image-7 {
    height: 306px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-8 {
    height: 306px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-9 {
    height: 306px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-list-4 {
    width: 540px;
  }

  .u-section-4 .u-repeater-4 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-image-10 {
    height: 323px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-11 {
    height: 323px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-12 {
    height: 323px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-list-5 {
    width: 540px;
  }

  .u-section-4 .u-repeater-5 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-image-13 {
    height: 323px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-14 {
    height: 323px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-15 {
    height: 323px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2657px;
  }

  .u-section-4 .u-list-1 {
    width: 340px;
  }

  .u-section-4 .u-image-1 {
    width: 185px;
    height: 121px;
  }

  .u-section-4 .u-image-2 {
    width: 185px;
    height: 121px;
  }

  .u-section-4 .u-image-3 {
    width: 185px;
    height: 121px;
  }

  .u-section-4 .u-list-2 {
    width: 340px;
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-4 {
    margin-right: auto;
  }

  .u-section-4 .u-image-5 {
    margin-right: auto;
  }

  .u-section-4 .u-image-6 {
    margin-right: auto;
  }

  .u-section-4 .u-image-7 {
    height: 193px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-8 {
    height: 193px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-9 {
    height: 193px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-list-4 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-image-10 {
    height: 203px;
    margin-top: 2px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-11 {
    margin-top: 0;
  }

  .u-section-4 .u-image-11 {
    height: 203px;
    margin-top: 2px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-12 {
    margin-top: 0;
  }

  .u-section-4 .u-image-12 {
    height: 203px;
    margin-top: 2px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-13 {
    margin-top: 0;
  }

  .u-section-4 .u-list-5 {
    margin-top: 1px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-image-13 {
    height: 203px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-14 {
    width: auto;
    margin-top: 11px;
  }

  .u-section-4 .u-image-14 {
    height: 203px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-15 {
    width: auto;
    margin-top: 11px;
  }

  .u-section-4 .u-image-15 {
    height: 203px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-16 {
    width: auto;
    margin-top: 11px;
  }
}